.box{
    border: 2px solid blue;
}
.list{
    border: 2px solid blue;
    background-color: cyan;
    list-style-type: none;
    height: 40px;
    width: 100px;
    margin-left: 20px;
}
    
.list-u{
    display: flex;
}
